main {
    margin-bottom: 5rem;
}
#greeting {
    width: 100%;
    margin: 1rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#quotation {
    text-align: center;
    padding-left: 2rem;
}
#quotation h2 {
    font-family: 'Righteous', cursive;
    font-size: 3.5rem;
}
#quotation p {
    font-size: 1.5rem;
}
.top-images {
    margin: 0 auto;
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    padding: 0;
}
section {
    margin: 0;
}
.highlight {
    width: 90%;
    margin: 0 auto;
}
.highlight-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.highlight h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
}
.highlight-content {
    width: 100%;
    padding: 1.25rem;
    font-size: 1rem;
}
#added-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#highlight-section {
    margin: 2rem;
    width: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(167, 123, 248, 0.2);
    border-radius: 1.5rem;
    overflow: hidden;
}
#highlight-section img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
#explore {
    display: flex;
    align-items: end;
    padding: 2rem;
}
#explore a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(201, 123, 253);
}
#more a {
    text-decoration: none;
    font-size: 3.5rem;
    color: rgb(95, 71, 110);
}
#more a:hover {
    color: rgb(163, 88, 212);
}
@media (max-width: 48rem) {
    #greeting {
        flex-direction: column;
        justify-content: center;
    }
    #quotation h2 {
        font-size: 2rem;
    }
    #quotation p {
        font-size: 0.8rem;
    }
    #animation img {
        width: 10rem;
        height: 10rem;
        padding: 0 2rem;
    }
    .highlight h2 {
        font-size: 1.5rem;
    }
    #added-block {
        flex-direction: column;
    }
    #highlight-section {
        width: 28rem;
    }
    .highlight h2 {
        font-size: 1rem;
    }
    .highlight-content {
        font-size: 0.8rem;
    }
    #highlight-section img {
        width: 10rem;
        height: 10rem;
    }
    #explore a {
        font-size: 1.25rem;
    }
    #more a {
        font-size: 2rem;
    }
}
